@font-face {
  font-family: 'Bureau Black';
  src: url('./fonts/bureau-black.woff2') format('woff2'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'Text Bold';
  src: url('./fonts/text-bold-font.woff2') format('woff2'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'Text Font';
  src: url('./fonts/text-font.woff2') format('woff2'); /* Super Modern Browsers */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}





html{
  height: 100%;
}

#root{
  height: 100%;
}

.container-total{
  width: 99.9%;
}

.container-left{
  width: 78%;
  left: 22%;
}